{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Food Byte!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam ornare pharetra. Nullam rhoncus aliquet eros, non blandit purus ornare vel. Praesent tincidunt id massa a gravida. Sed viverra, dui ut vestibulum consectetur, felis purus bibendum urna, quis efficitur libero tellus eget purus. Fusce et tincidunt nunc. Proin tincidunt tincidunt faucibus. Mauris at facilisis nisi. Integer non dapibus lorem. Curabitur eros quam, pharetra id pharetra quis, feugiat a ligula. Fusce nibh diam, consequat ac mattis vitae, imperdiet eu neque. Donec tincidunt id massa quis cursus. Integer luctus nibh risus, non ultrices enim lobortis eu. Sed hendrerit, orci ac ultrices malesuada, velit risus consectetur erat, sit amet feugiat augue mi eget nulla. Aenean sit amet sem mi.

        Proin faucibus aliquam justo, eget fringilla magna ultrices ut. Proin pretium pretium commodo. Aliquam erat volutpat. Sed vestibulum ipsum ut enim feugiat, iaculis dictum augue finibus. Quisque nec nunc efficitur, condimentum diam ac, maximus nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam et massa in lorem pharetra rutrum. Nullam ac posuere erat, vel luctus nisi.
        
        </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
